{% extends 'base.html' %}

{% block content %}
    <p class="task mb-4">
        <div class="task-body">
            <h4 class="task-title">{{ task.pk }} </h4>
            <h5 class="task-title">задача: {{ task.taskText }}</h5>
            <p class="task-text">создано: {{ task.created_time }}</p>
            <h6 class="task-subtitle mb-2 text-muted">выполнено {{ task.is_done }}</h6>
            <p class="task-text">время завершения: {{ task.finish_time }}</p>
        </div>
        <form action="{% url 'tasks_update' task.pk %}" method="get">
            <input type="submit" value="Изменить запись">
        </form><br>
        <form action="{% url 'tasks_delete' task.pk %}" method="get">
            <input type="submit" value="Удалить запись">
        </form>
    </div>
{% endblock content %}